<footer
  class="mt-12 text-center text-gray-500 border-t border-gray-200 py-8 max-w-screen-sm px-3 mx-auto"
>
  A web sustainable playground by
  <a href="https://yago.io" target="_blank" class="text-green-600 underline">
    yago
  </a>
</footer>
