---
import Header from '../components/Header.astro';
import HeaderMobile from '../components/HeaderMobile.tsx';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  </head>
  <body>
    <main>
      <Header />
      <HeaderMobile client:media="(max-width:640px)" />

      <div class="max-w-screen-sm mx-auto"><slot /></div>
    </main>
  </body>
</html>
