---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  </head>
  <body class="bg-black text-white">
    <main>
      <header>
        <div>
          <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo" />
        </div>
      </header>

      <slot />
    </main>
  </body>
</html>
